.world {
  width: 80vw;
  height: 60vh;
  background-color: rgb(16, 16, 17);
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 500px;
}

.card-side {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  transition: 0.3s;
}
.card-side-front {
  background-color: white;
  z-index: 1;
  background: url("../harley2.png") no-repeat 0 0 / contain;
}
.card-side-back {
  background: url("../harley.png") no-repeat 0 0 / contain;
  transform: rotateY(180deg);
}

.world:hover .card-side-front {
  transform: rotateY(180deg);
}
.world:hover .card-side-back {
  transform: rotateY(360deg);
}
